@model matrimonialProject.ViewModels.MessageViewModel
@{
    ViewData["Title"] = "SendMessage";
    TempData["recId"] = ViewContext.RouteData.Values["id"];
}

<h1>SendMessage</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendMessage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>


    </div>
    <a  asp-action="Index">Back to list</a>
    

</div>

@section Scripts{ 
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


